@import "../../assets/mixins.scss";
.project-home {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__main {
    display: flex;
  }
  &__column {
    width: 50%;
  }
  &__row {
    width: 100%;
    height: 605px;
    position: relative;
    overflow: hidden;
  }
  &__bg {
    background-image: url('@/components/ProjectHome/images/bi-bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__bim-content {
    position: absolute;
    top: calc(50% - 103px);
    left: 25%;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  &__first-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &__bim-label {
    font-weight: 400;
    font-size: 30px;
    margin-left: 30px;
  }
  &__bim-title{
    margin: 0 0 0 -15px;
    font-size: 128px;
    font-weight: 300;
    line-height: 156px;
    text-transform: uppercase;
  }
  &__item {
    width: 100%;
    padding-bottom: 100.33%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
  }
  &__content {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
  }
  &__image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  &__label {
    z-index: 2;
    top: 36%;
    left: 13%;
    right: 13%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--White);
    fill: var(--White);
  }
  &__text {
    text-align: center;
    font-size: 48px;
    line-height: 55px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 47px;
  }

  &__decoration--mobile {
    display: none;
  }

  &__decoration {
    position: absolute;
    z-index: 3;

    &-1 {
      top: -1px;
      left: 0;
    }
    &-2 {
      bottom: -6px;
      right: 0;
    }
    &-3 {
      bottom: -66px;
      left: -94px;
    }
    &-4 {
      bottom: -134px;
      right: 20%;
    }
  }

  @include for-phone-only {
    &__main {
      flex-direction: column;
    }
    &__link,
    &__column {
      width: 100%;
      height: 376px;
      overflow: hidden;
      display: flex;
    }
    &__text {
      font-size: 38px;
      line-height: 43px;
    }

    &__item {
      padding-bottom: 0;
    }

    &__label {
      position: relative;
      padding-top: 88px;
      top: 0;
      left: 0;
      right: 0;
    }

    &__content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__decoration {
      &--mobile {
        display: block;
      }
      position: absolute;
      left: -80px;
      bottom: -80px;
    }
    &__decoration--desktop {
      display: none;
    }

    &__bim-content {
      left: calc(50% - 100px);
    }
  }
  @include for-phone-and-tablet {
    &__text {
      font-size: 38px;
      line-height: 43px;
    }
    &__bg {
       background-size: auto 100%;
    }

    &__bim-label {
      margin: 0;
      font-size: 26px;
    }

    &__bim-content {
      top: calc(50% - 180px);
       left: calc(50% - 100px);
     }


    &__bim-title {
      margin-left: -10px;
      font-size: 100px;
    }

    &__first-row {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
