* {
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  color: var(--Black);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}
.router-link-active {
  color: var(--Orange);
}
