* {
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  color: var(--Black);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

  .lock-scroll {
    height: 100vh;
    overflow: hidden;

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 10;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}
.router-link-active {
  color: var(--Orange);
}
